<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.illinois.cs465.spotmix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SpotMix.Theme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/SpotMix.Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.CreatePartyActivity"
            android:label="@string/create_party"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.JoinPartyActivity"
            android:label="@string/join_party"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.PartyActivity"
            android:label="@string/party" />

        <activity
            android:name=".activities.AttendeesActivity"
            android:label="@string/attendees" />

        <activity
            android:name=".activities.SearchTracksActivity"
            android:label="@string/search_tracks" />

        <!-- Needed for Spotify Auth Api -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>